@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to top, #0D0D0D 15%, #014034, #02735E, #038C73, #36BFB1);
    background-attachment: fixed;
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #014034ab;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #0140348a;
    color: #02735E;
}
h2 {
    color: #038C73;
}
p {
    text-align: justify;
}
img {
    text-align: center;
}