@charset "UTF-8";

/*
em html id = # em css (apenas um elemento na tag e só um no html)
em html class = . em css (vários em uma tag e vários no html)
*/

body {
    background-color: rgba(0, 206, 209, 0.219);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(75, 133, 240);
}
#principal {
    background-color: blue;
    color: white;
    text-align: center;
}
h2 {
    color: rgb(17, 82, 60);
}
.basico {
    color: rgb(131, 196, 34);
}
.intermediario {
    color: rgb(213, 216, 51);
}
.avancado {
    color: rgb(255, 47, 47);
}
.destaque {
    background-color: blanchedalmond;
}